/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 21px;
  background-color: orange;
}

header img {
  display: block;
  height: 10em;
  padding-top: 20.15px;
  padding-left: 1em;
}

  h1 {
  font-size: 6rem;
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}


header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;  
}

