/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

/* "auto" makes the left and right margins center the wrapper */
#wrap { 
	width: 900px; 
	margin: 0 auto; 
}

html {
  font-size: 18px;
  background: url('/beach.jpg');
  background-repeat:no-repeat;
}
      
body {
  background: url('/beach.jpg') skyblue;
  background size: cover;
  background-repeat:no-repeat;
}

h1 {
  font-size: 6rem;
  font-family: cursive;
  text-align: center;
  text-decoration-color: transparent;
  text-shadow: 2px 2px 10px black;
  padding: 0.25em;
}

h2 {
  font-size: 3rem;
  font-family: cursive;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  margin-top: 2px;
  padding: 0.25;
}


header {
 margin-bottom: 2px;
  display: center;
  flex-flow: row wrap;
  padding: 0
}

nav {
  font-family: cursive;
  height: 50px;
  flex: 100%;
  display: flex;
  text-shadow: 2px 2px 10px black;
  margin-bottom: 2px;
  padding: 0.25em;
}

nav ul {
  padding: 0.25;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-decoration: none;
  color: black;
}

main, header, nav, article, footer, {
  padding: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

weather {
    width: 200px;
    height: 200px;
    background-color: yellow;
    float:left;
    padding: 0.25em;
}    

.wbutt { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    float:left;
}
